# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/obj/
/bin/*
*.user
/.classpath
/.project
/.settings/*.prefs
/.vs/
/PaxstoreOpenApiTest/obj/
/PaxstoreOpenApi/obj/
/PaxstoreOpenApi/bin/
/PaxstoreOpenApi/Properties/PublishProfiles
/PaxstoreOpenApiTest/bin/

/PaxstoreOpenApiTest/TestConst.cs
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/paxstore-openapi-dotnet-sdk.iml
/.idea/vcs.xml
/.idea/workspace.xml
/ClassLibrary1/Class1.cs
/ClassLibrary1/ClassLibrary1.csproj
/ClassLibrary1/obj/*.cache
/ClassLibrary1/obj/ClassLibrary1.csproj.nuget.g.props
/ClassLibrary1/obj/ClassLibrary1.csproj.nuget.g.targets
